body {
	background: #FFF;
	/*font-family:"微软雅黑";*/
	font-size: 14px;
	line-height: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}
*/
/*多项单选*/
.multi-radio{ display:inline-block; vertical-align:middle; *display:inline; }
	.multi-radio:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-radio .boxwrap{ display:inline-block; vertical-align:middle; *display:inline;}
	.multi-radio a{ display:inline-block; margin-right:-1px; float:left; padding:5px 15px; height:20px; line-height:20px; border:1px solid #eee; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-radio a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-radio a:active{ text-decoration:none; }
	.multi-radio a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
/*单项选择*/
.single-checkbox{ display:inline-block; vertical-align:middle; cursor:pointer; *display:inline; }
	.single-checkbox a,.single-checkbox a:visited{ display:inline-block; border:1px solid #d4d4d4; background:#d4d4d4; width:80px; vertical-align:middle; text-decoration:none; }
	.single-checkbox a i{ display:block; width:50%; height:28px; line-height:28px; font-style:normal; background:#fff; color:#333; text-align:center; }
	.single-checkbox a i.on{ float:right; display:none; }
	.single-checkbox a i.off{ float:left; display:block; }
	.single-checkbox a.selected{ border:1px solid #16a0d3; background:#16a0d3; }
	.single-checkbox a.selected i.on{ display:block; }
	.single-checkbox a.selected i.off{ display:none; }
/*多项选择*/
.multi-checkbox{ display:inline-block; vertical-align:middle; }
	.multi-checkbox:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-checkbox .boxwrap{ display:inline-block; vertical-align:middle; }
	.multi-checkbox a{ display:inline-block; float:left; margin-right:-1px; padding:5px 15px; height:20px; line-height:20px; border:1px solid #eee; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-checkbox a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-checkbox a:active{ text-decoration:none; }
	.multi-checkbox a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
	.multi-checkbox a:last-child{ /*border-right:1px solid #d4d4d4;*/ }
/*多项选择PORP*/
.multi-porp{ }
	.multi-porp ul{list-style:none; padding:0;}
	.multi-porp ul li{ float:left; position:relative; margin:0 8px 8px 0; padding:1px; line-height:20px; vertical-align:middle; }
	.multi-porp ul li a{ display:block; padding:4px 10px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; border:1px solid #eee; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-porp ul li i{ display:none; position:absolute; right:0; bottom:0; width:12px; height:12px; text-indent:-99em; background:url(../images/skin_icons.png) -169px -85px no-repeat; overflow:hidden; }
	.multi-porp ul li.sys{ background:#FFFFD0; }
	.multi-porp ul li.selected a{ margin:-1px; color:#333; border:2px solid #1e99c7; }
	.multi-porp ul li.selected i{ display:block; background-position:-84px -196px; }

    /*下拉菜单*/
.single-select{ position:relative; display:inline-block; margin-right:5px; vertical-align:middle; cursor:pointer; *float:left; }
	.single-select .boxwrap{ display:inline-block; vertical-align:middle; }
	.single-select .select-tit{ position:relative; display:block; padding:5px 38px 5px 10px; min-width:40px; line-height:20px; height:20px; border:solid 1px #eee; text-decoration:none; background:#fff; white-space:nowrap; word-break:break-all; }
	.single-select .select-tit span{ display:inline-block; color:#333; font-size:12px; vertical-align:middle; }
	.single-select .select-tit i{ position:absolute; right:0; top:0; display:block; width:28px; height:100%; border-left:1px solid #eee; background:url(../images/skin_icons.png) 7px -189px no-repeat #fafafa; }
	.single-select .select-items{ display:none; position:absolute; left:0; top:45px; /*overflow:hidden;*/ }
	.single-select .select-items ul{margin:0; position:relative; padding:5px; min-width:60px; max-height:280px; border:1px solid #eee; background:#fff; overflow-y:auto; overflow-x:hidden; }
	.single-select .select-items ul li{ display:block; padding:4px 10px; line-height:20px; font-size:12px; color:#666; white-space:nowrap; cursor:pointer; }
	.single-select .select-items ul li:hover{ color:#fff; text-decoration:none; background:#16a0d3; }
	.single-select .select-items ul li.selected{ color:#fff; background:#16a0d3; }
	.single-select .arrow{ display:none; position:absolute; left:15px; top:35px; width:21px; height:11px; text-indent:-9999px; background:url(../images/skin_icons.png) 0 -290px no-repeat; }
    .single-select.up .select-items{ top:auto; bottom:45px; }
    .single-select.up .arrow{ top:-13px; background:url(../images/skin_icons.png) 0 -300px no-repeat; }
